/.vs/
/.vs/GameOfLifeForms/DesignTimeBuild/.dtbcache.v2
/.vs/GameOfLifeForms/v17/.futdcache.v1
/.vs/GameOfLifeForms/v17/.suo
/.vs/ProjectEvaluation/gameoflifeforms.metadata.v2
/.vs/ProjectEvaluation/gameoflifeforms.projects.v2
